<!DOCTYPE html>
<html>
    <head>
        <title>
            Home page
        </title>
    </head>
    
</html>
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Todo</title>
  </head>
  <body>
    
<br>
        <div class="container">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                
                <div class="jumbotron">
                    <h4 style="text-align: center;">📝Todo-Let's do it</h4>
                    <h5 style="text-align: center;"><%=day%></h5>
                    <h5 style="text-align: center;"><%=greet%></h5>
                    <hr class="my-4">
                    <% emoji=['🎯','🥇','🏆','🎖','🥈','🥊','✏','✒','📍','📌','❤','🔶','😁','🤣','😍','🥰','😘','😋','😎','😂','🤭','😈','👺','👿','🧐','🤥','🥺','🤧','😷'] %>
                    <%for(var i=0;i<tasks.length;i++){%>
                        <%r=Math.floor(Math.random() * emoji.length)%>
                        
                        <h6><%= emoji[r]%> <%=tasks[i]%></h6>
                        <br>
                    <%}%>
                    
                  </div>
            </div>
        </div>
        
  
         
        <div class="container">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">  
            
        <form method="POST" action="/">
            <div class="form-group">

            
            <input type="text" class="form-control" id="exampleInputEmail" aria-describedby="enter task"name="todo" >
           <br>
            <div class="container">
                <div class="row">

               
                <div class="col-xl-8 col-lg-8 col-md-6 col-6 col-6 ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" value="1" name="Add">Add Task 👍</button>
                </div>
            
            <div class="col-xl-4 col-lg-4 col-md-6 col-6 col-6">
                <button type="submit" class="btn btn-danger btn-lg btn-block" value='2' name="Remove">Remove 🧺</button>
            </div>
        </div>
        </div>
        </form>
        </div>
        </div>

    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>